.AdminEvalList {
    list-style:none;
    margin: 10px 0;
    padding: 0;
}

.AdminEvalList-item {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.AdminEvalList-item-title {
    cursor: pointer;
    font-size: 1.3em;
    margin: 0;
}

.AdminEvalList-item-period {
    display: inline-block;
    width: 45%;
    font-size: 0.8em;
}

.AdminEvalList-item-period-date {
    white-space: nowrap;
    font-weight: bold;
}

/* Responsive: larger phones */
@media screen and (max-width: 767px) and (min-width: 480px) {
    .AdminEvalList-item {
        display: inline-block;
        width: 48%;
        margin-right: 2%;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

/* Responsive: phones  */
@media screen and (max-width: 767px) {
    /* limit list height on small screens */
    .AdminEvalList {
        max-height: 250px;
        overflow-y: scroll;
        overflow-scrolling: touch;
    }
}
