.AdminEvalList {
    list-style:none;
    margin: 10px 0;
    padding: 0;
}

.AdminEvalList-item {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.AdminEvalList-item-title {
    cursor: pointer;
    font-size: 1.3em;
    margin: 0 0 5px;
}

.AdminEvalList-item-date {
    display: inline-block;
    width: 45%;
    font-size: 0.9em;
}