<div class="row">
    <div class="col-lg-12">
        <h1>Exquisite eval admin panel.</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-6">
                <button class="btn" ng-click="addTemplate()">Add Template</button>
            </div>
            <div class="col-lg-6">
                <button class="btn" ng-click="addEvaluation()">Add Evaluation</button>
            </div>
        </div>
        <ul class="AdminEvalList">
            <li class="AdminEvalList-item" ng-repeat="evaluation in vm.evaluations">
                <span class="AdminEvalList-item-title" ng-bind="evaluation.TemplateTitleEN"></span>
                <span class="AdminEvalList-item-date" ng-bind="evaluation.StartDate | amDateFormat:'ll'"></span>
                <span class="AdminEvalList-item-date" ng-bind="evaluation.EndDate | amDateFormat:'ll'"></span>
            </li>
        </ul>
    </div>
</div>
