<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <button class="btn" ng-click="addTemplate()">Add Template</button>
                <button class="btn" ng-click="addEvaluation()">Add Evaluation</button>
            </div>
        </div>
        <ul class="AdminEvalList">
            <li class="AdminEvalList-item" ng-repeat="evaluation in vm.evaluations">
                <p class="AdminEvalList-item-title" ng-bind="evaluation.TemplateTitleEN" ng-click="getEvaluation(evaluation.ID)"></p>
                <span class="AdminEvalList-item-date">Opens: <time ng-bind="evaluation.StartDate | amDateFormat:'ll'"></time></span>
                <span class="AdminEvalList-item-date">Closes: <time ng-bind="evaluation.EndDate | amDateFormat:'ll'"></time></span>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <ee-admin-eval-result ng-model="vm.evaluation"></ee-admin-eval-result>
    </div>
</div>
