<div class="User">
	<div class="row">
		<div class="col-sm-3" class="col-xs-12">
			<div class="User-evaluations">
				<h2>User evaluations</h2>
				<ul class="AdminEvalList">
                    <li class="AdminEvalList-item User-evaluations-eval" ng-repeat="eval in evaluations" ng-click="getEval(eval.CourseID, eval.Semester, eval.ID)" ng-class="{Evalselected: eval.ID === evalInfo.ID && eval.CourseID == evalInfo.course}">
                        <p class="User-evaluations-eval-title" ng-bind="eval.TemplateNameEN"></p>
                        <p class="User-evaluations-eval-id" ng-bind="eval.CourseID"></p><br />
                    </li>
                </ul>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="User-eval" ng-if="showEval">
				<form class="form-horizontal" role="form" ng-submit="submitEval()">
					<div class="User-eval-info">
						<h3 ng-bind="evalInfo.titleIS"></h3>
						<p ng-bind="evalInfo.introTextIS"></p>
					</div>
					<div class="User-eval-coursequestions" ng-if="evalInfo.courseQuestions.length > 0">
						<h3>Course questions</h3>
						<span ng-repeat="courseQuestion in evalInfo.courseQuestions">
							<strong ng-bind="courseQuestion.question.textEN"></strong><br />
							<span ng-if="courseQuestion.question.type == 'single'">
								<span ng-repeat="question in courseQuestion.question.choices">
									<div class="radio">
										<label>
											<input type="radio" id="optionsRadios1" name="{{courseQuestion.ID}}"  value="{{question.ID}}" ng-model="courseQuestion.answer.Value" required>
											{{question.textEN}}
										</label>
										<span ng-if="question.weight == 5" class="glyphicon glyphicon-thumbs-up User-evaluation-green"></span>
										<span ng-if="question.weight == 1" class="glyphicon glyphicon-thumbs-down User-evaluation-red"></span>
									</div>
								</span>
								<br />
							</span>
							<span ng-if="courseQuestion.question.type == 'text'">
								<div class="form-group">
									<div class="col-sm-8" class="col-xs-10">
										<input class="form-control" type="text" ng-model="courseQuestion.answer.Value" name="{{question.ID}}"> <br />
									</div>
								</div>
							</span>
							<span ng-if="courseQuestion.question.type == 'multiple'">
								<span ng-repeat="question in courseQuestion.question.choices">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="{{question.ID}}" name="{{courseQuestion.ID}}" ng-model="courseQuestion.answer.Value[question.ID]" >
											{{question.textEN}}
										</label>
										<span ng-if="question.weight == 5" class="glyphicon glyphicon-thumbs-up User-evaluation-green"></span>
										<span ng-if="question.weight == 1" class="glyphicon glyphicon-thumbs-down User-evaluation-red"></span>
									</div>
								</span>
								<br />
							</span>
						</span>
					</div>
					<div class="User-eval-teacherquestions" ng-if="evalInfo.teacherQuestions.length > 0 && evalInfo.teacherQuestions[0].questions.length > 0">
						<h3>Teacher questions</h3>
						<span ng-repeat="teacher in evalInfo.teacherQuestions">
							<!-- Teacher info -->
							<div class="AdminEvalResult-teacher-image" >
								<img ng-src="{{teacher.img}}" class="img-thumbnail" />
							</div>
							<h1 ng-bind="teacher.name" class="AdminEvalResult-teacher-name" ></h1>
							<p class="AdminEvalResult-teacher-details">
								<span ng-bind="teacher.role" class="AdminEvalResult-teacher-details-role"></span>
								<span ng-bind="teacher.ssn" class="AdminEvalResult-teacher-details-ssn"></span>
							</p>
							<br />
							<span ng-repeat="teacherQuestion in teacher.questions">
								<strong ng-bind="teacherQuestion.question.textEN"></strong>
								<span ng-if="teacherQuestion.question.type == 'single'">
									<span ng-repeat="question in teacherQuestion.question.choices">
										<div class="radio">
											<label>
												<input type="radio" id="optionsRadios1" name="{{teacherQuestion.ID}}"  value="{{question.ID}}" ng-model="teacherQuestion.answer.Value" required>
												{{question.textEN}}
											</label>
											<span ng-if="question.weight == 5" class="glyphicon glyphicon-thumbs-up User-evaluation-green"></span>
											<span ng-if="question.weight == 1" class="glyphicon glyphicon-thumbs-down User-evaluation-red"></span>
										</div>
									</span>
									<br />
								</span>
								<span ng-if="teacherQuestion.question.type == 'text'">
									<div class="form-group">
										<div class="col-sm-8" class="col-xs-10">
											<input class="form-control" type="text" name="{{question.ID}}" ng-model="teacherQuestion.answer.Value"> <br />
										</div>
									</div>
								</span>
								<span ng-if="teacherQuestion.question.type == 'multiple'">
									<span ng-repeat="question in teacherQuestion.question.choices">
										<div class="checkbox">
											<label>
												<input type="checkbox" value="{{question.ID}}" name="{{courseQuestion.ID}}" ng-model="teacherQuestion.answer.Value[question.ID]">>
												{{question.textEN}}
											</label>
											<span ng-if="question.weight == 5" class="glyphicon glyphicon-thumbs-up User-evaluation-green"></span>
											<span ng-if="question.weight == 1" class="glyphicon glyphicon-thumbs-down User-evaluation-red"></span>
										</div>
									</span>
								<br />
								</span>
							</span>
						</span>
					</div>
				<button class="btn btn-default">Submit eval</button>
				</form>
			</div>
			<div ng-if="!showEval">
				<h3 ng-bind="submitResult"></h3>
			</div>
		</div>
	</div>
</div>