<h2>User evaluations</h2>

<div id="evaluations">
	<ul>
		<li ng-repeat="eval in evaluations">
			<a href="" ng-click="getEval(eval.CourseID, eval.Semester, eval.ID)" ng-bind="eval.CourseID"></a>
		</li>
	</ul>
</div>
<div id="questions">
	<div id="courseQuestions">
		<h3>Course questions</h3>
		<span ng-repeat="courseQuestion in courseQuestions">
			<p ng-bind="courseQuestion.question.text"></p>
			<span ng-if="courseQuestion.question.type == 'single'">
				<span ng-repeat="question in courseQuestion.question.choices">
					<label ng-bind="question.text"></label>
					<input type="radio" value="{{question.ID}}" ng-model="courseQuestion.answer.Value"> <br />
				</span>
			</span>
			<span ng-if="courseQuestion.question.type == 'text'">
				<input type="text" ng-model="courseQuestion.answer.Value"> <br />
			</span>
			<span ng-if="courseQuestion.question.type == 'multiple'">
				<span ng-repeat="question in courseQuestion.question.choices">
					<label ng-bind="question.text"></label>
					<input type="checkbox" value="{{question.ID}}" ng-model="courseQuestion.answer.Value[question.ID]"> <br/>
				</span>
			</span>
		</span>
	</div>
	<div id="teacherQuestions">
		<h3>Teacher questions</h3>
		<span ng-repeat="teacher in teacherQuestions">
			<h4 ng-bind="teacher.name"></h4>
			<span ng-repeat="teacherQuestion in teacher.questions">
				<p ng-bind="teacherQuestion.question.text"></p>
				<span ng-if="teacherQuestion.question.type == 'single'">
					<span ng-repeat="question in teacherQuestion.question.choices">
						<label ng-bind="question.text"></label>
						<input type="radio" value="{{question.ID}}" ng-model="teacherQuestion.answer.Value"> <br />
					</span>
				</span>
				<span ng-if="teacherQuestion.question.type == 'text'">
					<input type="text" ng-model="teacherQuestion.answer.Value"> <br />
				</span>
				<span ng-if="teacherQuestion.question.type == 'multiple'">
					<span ng-repeat="question in teacherQuestion.question.choices">
						<label ng-bind="question.text"></label>
						<input type="checkbox" value="{{question.ID}}" ng-model="teacherQuestion.answer.Value[question.ID]"> <br/>
					</span>
				</span>
			</span>
		</span>
	</div>
	<button class="" ng-click="submitEval()">Submit eval</button>
</div>